@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.welcome-page {
    display: flex;
    color: $primary-color;
    margin-bottom: 75px;
    .caption-section{
        flex: 1 1 40%;
        padding: 10% 0 45px 7%;
        .caption-wrapper{
            .topic{
                font-size: $font-size-small;
                margin-bottom: 30px;
            }
            .description{
                font-size: $font-size-xx-large;
                font-weight: 300;
                margin-bottom: 80px;
                padding-right: 35px;
                span {
                    font-weight: bold;
                }
              
            }
        }
        button {
            margin-top: 70px;
        }
    }
    .image-section{
        flex: 1 1 60%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

