// Define font sizes in rem
$font-size-small: 1.25rem; // 20px
$font-size-medium: 1.625rem; // 26px
$font-size-large: 2.5rem; // 40px
$font-size-x-large: 3.125rem; // 50px
$font-size-xx-large: 3.5rem; //56px

$font-family: 'Roboto', sans-serif;

$line-height: 1.5;