.img-container{
    display: inline-block;
    margin: 30px auto;
    width: 30%;
    padding: 10px;
  }
  .title{
    width: 100%;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
  }
  .city-names{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }