@import '../../styles/variables.scss';

.read-more{
    padding: 15px;
    color: white;
    display:inline-block;
    background-color:#7a1755;
    margin: 25px 120px 0px 0px; 
  }
  .container{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
  .content-title,.content{
    padding-left: 30px;
  }
  .content-title{
    color: rgb(112, 32, 83);
    h1{
      font-size: $font-size-large;
      font-weight: 500;
    }
    p {
      font-weight: 400;
    }
  }
  .content{
    font-size: $font-size-small;
    font-weight: 400;
    color: rgb(142, 79, 121);
  }
  .destinations {
    margin: 0 auto;
    width: 95%;
  }